=render :partial => "common/admin_navbar"
.container
  =render :partial => "common/notice"
  .row
    .col-lg-12
      %h1
        Site Information
  .row
    .col-lg-12
      %h1
        Biography
  .row
    .col-lg-12
      %h1
        Employment
  .row
    .col-lg-12
      %h1
        Portfolio
