%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          Where I've been
        %h3.section-subheading.text-muted
          I am a software developer, and this is where I have worked.
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              =image_tag "enova.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2014
                %h4.subheading
                  Enova Financial
              .timeline-body
                %p.text-muted
                  As a rails developer I helped create an automated system for the management of customer reports, loan processing, and billing.  In
                  addition I worked on a visualization tool for SQL queries and automated rebilling of customers.
          %li.timeline-inverted
            .timeline-image
              =image_tag "kingland.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2013
                %h4.subheading
                  Kingland Systems
              .timeline-body
                %p.text-muted
                  I led the research efforts into ETL technologies using IBM DataSphere and developed an extensive set of
                  templates, scripts, and documentation.
          %li
            .timeline-image
              =image_tag "purdue.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2013
                %h4.subheading
                  Purdue Engineering Education
              .timeline-body
                %p.text-muted
                  I redesigned a site that provided vital information to advisers and integrated with an Android-based
                  queuing system. The platform was built in HTML5, Python, and DTML.
          %li.timeline-inverted
            .timeline-image
              =image_tag "dealerbuilt.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2010-2012
                %h4.subheading
                  DealerBuilt
              .timeline-body
                %p.text-muted
                  As a .NET developer I built numerous web automations and
                  interfaces.  Additionally I worked on the design and development of an internal chat system
                  used for communication, system alerts, and auditing.
