%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          Where I've been
        %h3.section-subheading.text-muted
          I am a software developer, and this is where I have worked.
    .row
      .col-lg-12
        %ul.timeline
          -@employers.each do |employer|
            %li{class: cycle('timeline', 'timeline-inverted')}
              .timeline-image
                =image_tag employer.image, class: "img-circle img-responsive"
              .timeline-panel
                .timeline-heading
                  %h4
                    =employer.dates
                  %h4.subheading
                    =employer.name
                .timeline-body
                  %p.text-muted
                    =employer.description
