%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          Who am I?
        %h3.section-subheading.text-muted
          I am a software developer. This is what I've done.
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              =image_tag "dealerbuilt.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2010-2012
                %h4.subheading
                  DealerBuilt
              .timeline-body
                %p.text-muted
                  At DealerBuilt I worked as a .NET developer and used C# to build numerous web automations and
                  interfaces.  I also was a key member in the design and development of an internal chat system
                  that paved the way for internal alerts and auditing.
          %li.timeline-inverted
            .timeline-image
              =image_tag "purdue.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2013
                %h4.subheading
                  Purdue Engineering Education
              .timeline-body
                %p.text-muted
                  At Purdue I was the lead developer in a complete redesign of the "Student Information" page.
                  This site provided vital information to advisers and integrated with an extensive queing system
                  used for research.  The new system was built in html5, python, and dtml.  It integrated with an
                  Android application and card-swipe system.
          %li
            .timeline-image
              =image_tag "kingland.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2013
                %h4.subheading
                  Kingland Systems
              .timeline-body
                %p.text-muted
                  At Kingland I led the research efforts into ETL technologies using IBM DataSphere.  I developed an extensive set of
                  potential methods and created templates, scripts, and documentation for everything. My benchmarking
                  and design paved the way for a new series of reporting technologies. 
          %li.timeline-inverted
            .timeline-image
              =image_tag "enova.png", class: "img-circle img-responsive"
            .timeline-panel
              .timeline-heading
                %h4
                  2014
                %h4.subheading
                  Enova Financial
              .timeline-body
                %p.text-muted
                  At Enova I worked as a Rails developer to create a set of internal applications. I worked to create a robust CSV parsing
                  system that allowed for mass database migrations.  I also worked to design a datavisualization tool for commonly
                  used SQL queries and worked to automate the representment of missed payments. 


