%header
  .container
    .intro-text
      .intro-lead-in
        =@greeting
      .intro-heading
        =@slogan
      =link_to @site_header.main_button_title, "#bio", class: "page-scroll btn btn-xl"
