%section.bg-light-gray#bio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          =@site_header.biography_title
        %h3.section-subheading.text-muted
          =@site_header.biography_subtitle
    .row
      .col-sm-4
        .team-member
          =image_tag "nathan.png", class: "img-responsive img-circle"
          %h4
            =@name
          %p
            =render :partial => "social_buttons"
      .col-sm-8.portfolio-modal
        =@biography.html_safe
