%section.bg-light-gray#bio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          Who I Am
        %h3.section-subheading.text-muted
          I'd like to tell you about myself.
    .row
      .col-sm-4
        .team-member
          =image_tag "nathan.png", class: "img-responsive img-circle"
          %h4
            =@name
          %p
          %ul.list-inline.social-buttons
            %li
              %a{href: "https://www.linkedin.com/in/nathantornquist"}
                =fa_icon "linkedin"
            %li
              %a{href: "https://github.com/Tornquist/"}
                =fa_icon "github"
            %li
              %a{href: "http://stackoverflow.com/users/831913/nathan-tornquist"}
                =fa_icon "stack-overflow"
      .col-sm-8.portfolio-modal
        =@biography.html_safe
