%section.bg-light-gray#bio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          How to Find Me
    .row
      .col-lg-12.text-center
        =mail_to "nathantornquist@gmail.com", "Email Me @ NathanTornquist@gmail.com"
