%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright © Nathan Tornquist 2014
      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{href: "https://twitter.com/M3T1V13R"}
              =fa_icon "twitter"
          %li
            %a{href: "https://www.linkedin.com/in/nathantornquist"}
              =fa_icon "linkedin"
          %li
            %a{href: "https://github.com/Tornquist/"}
              =fa_icon "github"
          %li
            %a{href: "http://stackoverflow.com/users/831913/nathan-tornquist"}
              =fa_icon "stack-overflow"
