%footer.bg-darkest-gray
  .container
    .row
      .col-md-4.text-white
        %span.copyright
          Copyright ©
          =@name
          =Time.now.year
      .col-md-4
        =render :partial => "social_buttons"
