#burrow_info.portfolio-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Burrow
            %p.item-intro.text-muted A game about one rabbit's fight for survival
            =image_tag "burrow_full.png", class: "img-responsive img-center"
            %p
              Burrow is the product of a 24-hour race to build a "Flappy-Bird"-like game.
              This project included a redesign of the libraries that I developed during the creation of Arcis.
              My focus with this project was not only to create a game quickly, but to create a game
              that could be quickly picked up and put down, unlike my other games that are a little
              bit more demanding and have a rather steep learning curve.
            %p
              %strong What to play the game?
              %a{href: "https://play.google.com/store/apps/details?id=com.petronicarts.burrow"} Grab it on Google Play
            %p
              %strong Curious how I built it?
              %a{href: "https://github.com/Tornquist/Burrow"} Look through the code
            %p
              %strong Like the music?
              %a{href: "http://michaelbetzmusic.com"} Check out the guy that wrote it
            %ul.list-inline
              %li Date: March 2014
              %li &copy; Nathan Tornquist
              %li Category: Casual Arcade Game
            %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"}
              =fa_icon "times"
              Close Project

#arcis_info.portfolio-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Arcis
            %p.item-intro.text-muted A cross between an arcade and RTS game
            =image_tag "arcis_full.png", class: "img-responsive img-center"
            %p
              Arcis is the largest personal project that I have created to date. This game
              was my first large-scale Android project and the first that had any semblance
              of an artifical intelligence system. I reverse engineered A* pathfinding
              to improve performance and allow all of the enemy units to navigate together.
              Testing was done through major Reddit croudsourcing and I received incredibly
              valuable feedback for the creation of the final product.
            %p
              %strong What to play the game?
              %a{href: "https://play.google.com/store/apps/details?id=com.petronicarts.arcis"} Grab it on Google Play
            %p
              %strong Curious how I built it?
              %a{href: "https://github.com/Tornquist/Arcis"} Look through the code
            %p
              %strong Like the music?
              %a{href: "http://michaelbetzmusic.com"} Check out the guy that wrote it
            %ul.list-inline
              %li Date: July 2012
              %li &copy; Nathan Tornquist
              %li Category: Arcade/RTS Game
            %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"}
              =fa_icon "times"
              Close Project

#solo_defense_info.portfolio-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Solo Defense
            %p.item-intro.text-muted A twist on the classic game of Pong
            =image_tag "solo_defense_full.png", class: "img-responsive img-center"
            %p
              Solo Defense was the first game that I put on Google Play, and the first game
              that I make in every new language that I learn.  This game normally acts as a quick
              1-day project I use to teach myself basic app structure.  While the game on Google Play is out
              of date and doesn't play well on modern Android devices, it still has a respectable userbase
              and is an important part of my "Android Story."
            %p
              %strong What to play the game?
              %a{href: "https://play.google.com/store/apps/details?id=com.petronicarts.solodefense"} Grab it on Google Play
            %p
              %strong Curious how I built it?
              %a{href: "https://github.com/Tornquist/Solo_Defense"} Look through the code
            %ul.list-inline
              %li Date: March 2012
              %li &copy; Nathan Tornquist
              %li Category: Arcade
            %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"}
              =fa_icon "times"
              Close Project

