-@projects.each do |project|
  .portfolio-modal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", :id => "#{project.clean_title}_info" }
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              %h2
                =project.title
              %p.item-intro.text-muted
                =project.subtitle
              =image_tag project.image, class: "img-responsive img-center"
              %p
                =project.description
              -unless project.google_url.to_s.empty?
                %p
                  %strong What to play the game?
                  %a{href: "#{project.google_url}"} Grab it on Google Play
              -unless project.github_url.to_s.empty?
                %p
                  %strong Curious how I built it?
                  %a{href: "#{project.github_url}"} Look through the code
              -unless project.music_url.to_s.empty?
                %p
                  %strong Like the music?
                  %a{href: "#{project.music_url}"} Check out the guy that wrote it
              %ul.list-inline
                %li
                  Date:
                  =project.date
                %li
                  &copy;
                  =project.copyright
                %li
                  Category:
                  =project.category
              %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"}
                =fa_icon "times"
                Close Project
