%section.bg-light-gray#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          =@site_header.portfolio_title
        %h3.section-subheading.text-muted
          =@site_header.portfolio_subtitle
    .row
      -@projects.each do |project|
        .col-md-4.col-sm-6.portfolio-item
          %a.portfolio-link{"data-toggle" => "modal", href: "##{project.clean_title}_info"}
            .portfolio-hover
              .portfolio-hover-content
                =fa_icon "plus 3x"
            =image_tag project.thumbnail, class: "img-responsive"
          .portfolio-caption
            %p.text-muted
              =project.caption
