=render :partial => "header"
%header
  .container
    .intro-text
      .intro-lead-in
        =@greeting
      .intro-heading
        =@slogan
      =link_to "Learn More About Me", "#bio", class: "page-scroll btn btn-xl"

=render :partial => "bio"
=render :partial => "about"
=render :partial => "portfolio"
=render :partial => "modal"
=render :partial => "footer"
