=render :partial => "header"
=render :partial => "banner"
=render :partial => "bio"
=render :partial => "about"
=render :partial => "portfolio"
=render :partial => "modal"
=render :partial => "footer"
