%header
  .container
    .intro-text
      .intro-lead-in
        Hi, I'm Nathan Tornquist
      .intro-heading
        I build tools for people
      =link_to "Learn More About Me", "#about", class: "page-scroll btn btn-xl"

=render :partial => "about"

#home_panel{style: "height: 300px" }
  Homepage
#portfolio_panel{style: "height: 300px" }
  About Me
#contact_panel{style: "height: 300px" }
  Contact Links
