#home_panel{style: "height: 300px" }
  Homepage
#about_panel{style: "height: 300px" }
  About Me
#work_panel{style: "height: 300px" }
  Work Experience
#play_panel{style: "height: 300px" }
  Hobbies and Android
#contact_panel{style: "height: 300px" }
  Contact Links
