%header
  .container
    .intro-text
      .intro-lead-in
        Hi, I'm Nathan Tornquist
      .intro-heading
        I build tools for people
      =link_to "Learn More About Me", "#about", class: "page-scroll btn btn-xl"

=render :partial => "about"
=render :partial => "portfolio"
=render :partial => "contact"
