!!!
%html
  %head
    %title NathanTornquist.com
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #navbar.navbar.navbar-default.navbar-fixed-top.sticky
      .container-fluid
        .navbar-header
          %button.navbar-toggle{ type: "button", data: {toggle: "collapse", target: "#main-navigation"}}
            %span.sr-only
              Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Nathan Tornquist.com", "#", class: "navbar-brand"
        #main-navigation.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "Home", "#", id: "home_panelBtn"
            %li
              =link_to "About Me", "#", id: "about_panelBtn"
            %li
              =link_to "Work", "#", id: "work_panelBtn"
            %li
              =link_to "Play", "#", id: "play_panelBtn"
            %li
              =link_to "Contact", "#", id: "contact_panelBtn"
            %li
              %button.btn.btn-default.navbar-btn{type: "button"}
                Blog
    = yield

:javascript
  $("[id*='Btn']").stop(true).on('click',function(e){e.preventDefault();$(this).scrolld();});
  var scrolldNavBar = 'navbar';
  var scrolldMobileNavBar = 'navbar';
  var scrolldFixed = true;
